@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply h-full bg-background;
  }

  :root {
    --background: 30 20% 97%;
    --foreground: 25 30% 15%;

    --card: 0 0% 100%;
    --card-foreground: 25 30% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 25 30% 15%;

    --primary: 25 85% 35%;
    --primary-foreground: 30 20% 97%;

    --secondary: 22 45% 89%;
    --secondary-foreground: 25 30% 15%;

    --muted: 22 45% 89%;
    --muted-foreground: 25 35% 35%;

    --accent: 30 75% 45%;
    --accent-foreground: 30 20% 97%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 30 20% 97%;

    --border: 20 30% 85%;
    --input: 20 30% 85%;
    --ring: 25 30% 15%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 25 30% 10%;
    --foreground: 30 20% 97%;

    --card: 25 30% 10%;
    --card-foreground: 30 20% 97%;

    --popover: 25 30% 10%;
    --popover-foreground: 30 20% 97%;

    --primary: 25 85% 45%;
    --primary-foreground: 30 20% 97%;

    --secondary: 25 30% 20%;
    --secondary-foreground: 30 20% 97%;

    --muted: 25 30% 20%;
    --muted-foreground: 30 20% 85%;

    --accent: 30 75% 45%;
    --accent-foreground: 30 20% 97%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 30 20% 97%;

    --border: 25 30% 20%;
    --input: 25 30% 20%;
    --ring: 30 20% 97%;

    --radius: 0.5rem;
  }
}